{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %}Home{% endblock %}</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="{% static 'layout.css' %}">
</head>
<body>

    <div class="menu" id="menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="" class="menu_link">link</a>
        <a href="" class="menu_link">link</a>
        <a href="" class="menu_link">link</a>
        <a href="" class="menu_link">link</a>
    </div>

    <div class="navbar">
        <i class="fa-solid fa-bars link menubar" class="menubar" onclick="slide()"  ></i>
        <div class="nav_center">
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Collection</a>
            <a href="#">Account</a>
        </div>
        <div class="nav_icon">
           <a href="#"> <i class="fa-solid fa-cart-shopping  cart"></i></a>
           <a href="#"> <i class="fa-solid fa-bag-shopping"></i></a>
           <a href="#"> <i class="fa-solid fa-heart"></i></a>
        </div>
    </div>

    

    <div class="hero_section">
        <div class="hero_text"> WATCH Company</div>
        <a href="" class="hero_img" ><img src="{% static 'photos/watch.png' %}"></a>
    </div>



    <script src="{% static 'layout.js' %}"></script>
</body>
</html>